.Altitude {
    display: flex;
    flex-direction: row;
    align-self: flex-start ;
    width: 100px;
    height: 60px;
    position: fixed;
    top: 100px;
    left: 5px;
    background:  rgba(255, 0, 0, 0.5);
    z-index:500;
    /* overflow: hidden; */
    /* padding: 20px; */
}