.DemSelector {
    display: flex;
    flex-direction: column;
    /* align-self: flex-start ; */
    width: 200px;
    height: 40px;
    /* background:  rgba(255, 0, 0, 0.5); */
    /* overflow: hidden; */
    padding: 10px;
}