.DateController {

  position: fixed;
  /* top: 25px; */
  top: -5px;
  right: 0px;
  width: 50px;
  height: 50px;
  z-index: 200;
  text-align: center;
  background: rgba(82, 164, 219, 0.123);
  /* display: flex; 
  justify-content: center;
  flex-direction: row; */

}


.flipped {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.controlbutton {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 50px;
  width: 50px;
  -webkit-tap-highlight-color:  transparent;
}
.speedbar {
  position: absolute;
  top: 56px;
  right: 40px;
  height: 50px;
  width: 50px;
  -webkit-tap-highlight-color:  transparent;
}

.Speed {
  position: absolute;
  top: opx;
  right: -18px;
  height: 50px;
  width: 50px;
  text-align: left;
  font-size: 12px;
  -webkit-tap-highlight-color:  transparent;
}

.smallcontrolbutton {
  height: 50px;
  width: 30px;
  -webkit-tap-highlight-color:  transparent;
}

.Forward {
  position: absolute;
  top: -16px;
  right: -30px;
}
.Backward {
  position: absolute;
  top: -16px;
  right: 50px;
}

.shadow{
  -webkit-filter: drop-shadow(  var(--shadow) );
  filter: drop-shadow(  var(--shadow));
}
