.Share {
  position: absolute;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  -webkit-user-drag: none;
  height: 50px;
  width: 50px;
  bottom: 20px;
  right: 200px;
  z-index: 300; 
  /* background-image: url("EOi_logo.png"); */
  /* background-color: #77bd35c9; */
  color: var(--color);
  -webkit-filter: drop-shadow(  var(--shadow) );
  filter: drop-shadow(  var(--shadow));
  -webkit-tap-highlight-color:  transparent;
}

.ShareL {
  position: absolute;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  -webkit-user-drag: none;
  height: 50px;
  width: 50px;
  bottom: 20px;
  left: 200px;
  z-index: 300; 
  /* background-image: url("EOi_logo.png"); */
  /* background-color: #77bd35c9; */
  color: var(--color);
  -webkit-filter: drop-shadow(  var(--shadow) );
  filter: drop-shadow(  var(--shadow));
  -webkit-tap-highlight-color:  transparent;
}
