.Log {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: left;  
  text-align: left;
  bottom: 100px;
  left: 5px;
  color: var(--color);
  /* width: 100px; */
  /* height: 30px; */
  margin: auto;
  z-index: 2;
}
