/* @-webkit-keyframes glow { 
  0% { background-color:red; }
  50% { background-color:var(--color); }
  100% { background-color:red; } 

}  */
@keyframes glow { 
    0% { background-color: var(--color); }
    50% { background-color:red; } 
    100% { background-color: var(--color); }
  }
  /* @keyframes glow { 
    0% { background-color:red; }
    50% { background-color:var(--color); }
    100% { background-color:red; } 
  } */
  
  
  .LabelContainer {
    position: absolute;
    top: 3px;
    /* right:5px; */
    width: 100%;
    height: 80px;;
    /* background: rgba(82, 219, 89, 0.288); */
    border-radius: 8px;
    text-align: center;
    font-kerning: 'none';
    font-size: 20px;
  }

/* .Highlighted {
  color: rgba(220, 223, 93, 0.966);
  text-shadow: 0em 0em 0.2em  rgb(252, 38, 84);
} */

.Highlighted{
  border-style: solid;
  border-width: 0px; 
  border-radius: 30%;
  border-color: var(--colort);
  
  background: var(--colort);
  padding:0.03em 0.15em;
}

.Greyedout {
    color: var(--color);
  }
  
  