
.ControlPanel {
    position: fixed ;
    background-color: #3592bd75;
    height: 100%;
    width: 300px;
    top: 0px;
    bottom: 0px;
    right:0px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: space-between;
    color: white;
    z-index: 300; 
    user-select: none;
}
.Logo {
    position: absolute;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    -webkit-user-drag: none;
    height: 50px;
    width: 50px;
    bottom: 0px;
    left: -50px;
    z-index: 300; 
    
  
  
  }