
.ControlPanel {
    position: fixed ;
    background-color: #003b94d5;
    /* background-color: var(--color); */
    height: 100%;
    width: 300px;
    top: 0px;
    bottom: 0px;
    right:0px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: space-between;
    /* color: white; */
    z-index: 300; 
    user-select: none;
}
.Logo {
  position: absolute;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  -webkit-user-drag: none;
  height: 50px;
  width: 50px;
  bottom: 0px;
  left: -50px;
  z-index: 300; 
}

.PanelControl {
    position: absolute;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    -webkit-user-drag: none;
    height: 50px;
    width: 50px;
    bottom: 30px;
    left: -80px;
    z-index: 300; 
    /* background-image: url("EOi_logo.png"); */
    /* background-color: #77bd35c9; */
    color: var(--color);
  }

  .shadow {
    -webkit-filter: drop-shadow(  var(--shadow) );
    filter: drop-shadow(  var(--shadow));
    /* Similar syntax to box-shadow */
  }