

.DateSelector {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 68px;
    height: 100%;
    background: rgba(79, 77, 80, 0);
    /* border-radius: 8px; */
    z-index: 100;
  }

  .Scale1 {
      right : 250px;
  }

.DateSelectorScale {
  position: absolute;
  z-index: 113;
  pointer-events: none;
  width: 100%;
  height: 100%;
  background: rgba(82, 219, 155, 0);
  border-radius: 8px;
}

.Mask {
    position: absolute;
    top: 0px;
    z-index: 111;
    width: 100%;
    height: 100%;
    background: rgba(47, 99, 26, 0);
    mask-image: linear-gradient(to bottom, rgba(42, 177, 42, 0), rgba(0,0,0,1), rgba(48, 139, 151, 0));
    -webkit-mask-image: linear-gradient(to bottom, rgba(42, 177, 42, 0), rgba(0,0,0,1), rgba(48, 139, 151, 0));
}
.touchMask {
    position: absolute;
    z-index: 112;
    top: 0px;
    right: 0px;
    width: 40px;
    height: 100%;
    background: rgba(26, 70, 99, 0);
    /* mask-image: linear-gradient(to bottom, rgba(42, 177, 42, 0), rgba(0,0,0,1), rgba(48, 139, 151, 0));
    -webkit-mask-image: linear-gradient(to bottom, rgba(42, 177, 42, 0), rgba(0,0,0,1), rgba(48, 139, 151, 0)); */
}


.TriangleContainer {
    position: absolute;
    top: 50%;
    right:0px;
    margin-top: -15px;
    width: 20px;
    height: 40px;
}

.Triangle {
    fill: var(--color);
    stroke: var(--color);
    stroke-width: 1;
}
.DayTic_h {
    position: absolute;
    pointer-events: none;
    font-weight: bold;
    font-size: 12px; 
    right: 10px
}
.MonthTic_h {
    position: absolute;
    pointer-events: none;
    font-weight: bold;
    font-size: 12px; 
    right: 10px;
    margin-top: 0px
}
.MonthTic_h2 {
    position: absolute;
    pointer-events: none;
    font-weight: bold;
    font-size: 12px; 
    right: 29px;
    margin-top: 0px
}
.YearTic_h {
    position: absolute;
    pointer-events: none;
    font-weight: bold;
    font-size: 12px; 
    margin-top: 15px;
    right: 29px
}
.YearTic_h2 {
    position: absolute;
    pointer-events: none;
    font-size: 12px; 
    font-weight: bold;
    right: 35px
}
.DayTic {
    position: absolute;
    pointer-events: none;
    font-size: 12px; 
    right: 10px
}
.MonthTic {
    position: absolute;
    pointer-events: none;
    font-size: 12px; 
    right: 10px;
    margin-top: 0px
}
.YearTic {
    position: absolute;
    pointer-events: none;
    font-size: 12px; 
    margin-top: 0px;
    right: 10px
}
.HourTic {
    position: absolute;
    pointer-events: none;
    font-size: 12px; 
    opacity: 0;
    transition: opacity 2s ;
    /* color: rgba(235, 214, 119, 0.5);*/
    right: 12px
}

