.MissionSelectorContainer {
    /* flex-wrap: wrap; */
    width: 70px;
    height: 100%;
    /* background:  rgba(255, 230, 0, 0.486); */
    /* border-radius: 10%; */
    overflow: scroll;   
}

.MissionSelector {
    display: flex; 
    justify-content: center;
    flex-direction: column;
    /* flex-wrap: wrap; */
    width: 100%;
    height: auto;
    /* background:  rgba(0, 140, 255, 0.486); */
    /* border-radius: 10%; */    
}

.MissionIcon {
    position: relative;
    width: 40px;
    height: 40px;
    top: 0px;
    left: 0px;
    margin: auto;
    -webkit-user-drag: none;

}

