.SearchController {
    position: absolute;
    bottom:30px;
    right: 100px;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    /* align-self: flex-start ; */
    width: 50px;
    height: 50px;
    z-index: 200;

    /* background:  rgba(9, 255, 0, 0.658); */
    user-select: none;
    overflow: none;
    -webkit-filter: drop-shadow(  var(--shadow) );
    filter: drop-shadow(  var(--shadow));
    -webkit-tap-highlight-color:  transparent;
}

.Active {
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { transform-origin: center; -webkit-transform: rotate(360deg); transform:rotate(360deg); } }